DevoirSoap/src/main/resources/schema/classedevoir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://groupeisi.com/DevoirSoap"
           targetNamespace="http://groupeisi.com/DevoirSoap"
           elementFormDefault="qualified">

    <xs:element name="GetClasseDevoirRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetClasseDevoirResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="className" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
